<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Cat_Image API</title>
    <script src="/cat.js"></script>
</head>
<body>
    <h1>Cat Photos</h1>

    <form name="frm">
        <input type="hidden" id="favourites_id" th:value="${favourites_id}">
        <b>How many photos?: </b>
        <input type="text" id="limit" value="1" size="5"/>
        <input type="button" onclick="callCat();" value="Get Photos"/><br>
        <b>What's your Sub_id for Favourites Photos?: </b>
        <input type="text" name="sub_id" id="sub_id" value="" size="5"/>
        <div th:if="${not #strings.isEmpty(catImages)}">
            <input type="button" onclick="callFavouritesCat();" value="Show Favourites Photos"/>
            <button onclick="collection_Cat();">Add Collection Photos</button>
        </div>
        <div th:unless="${not #strings.isEmpty(catImages)}">
            <input type="button" onclick="callFavouritesCat();" value="Show Favourites Photos"/>
        </div>

        <div th:each="Image_cat : ${catImages}">
            <img th:src="${Image_cat.getUrl()}" width="500" height="500"/>
            <input type="checkbox" name="image_id" th:value="${Image_cat.getId()}"/>
        </div>
    </form>
</body>
</html>